/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
  width: 50%;
  margin: auto;
}

.todo {
  padding: 30px;
}

.todo-list {
  padding: 0;
}

.todo-item {
  list-style: none;
  margin-bottom: 5px;
  display: block;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
}

.container-completed {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.todo-form {
  justify-content: space-between;
}

.todo-form > div:last-child {
  margin-right: 0;
}

.todo-form-input {
  flex: 1!important;
}

.todo-form-actions {
  display: flex;
  justify-content: space-between;
}

.todo-form-action {
  width: fit-content;
}

.actions-container {
  display: flex;
  justify-content: space-between;
}

h3 {
  margin-left: 1em;
}

.todo-item-content {
  margin-left: 1em;
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

.remove-btn {
  margin-right: 1em;
  width: 6vh;
  height: 6vh;
}

.time-of-creation {
  font-style: italic;
  font-weight: 400;
  float: right;
  margin-top: 1em;
  margin-right: 1em;
  opacity: 0.5;
}
