#root {
  display: flex;
  height: 100%;
}

.todo {
  padding: 30px;
}

.todo-card {
  min-width: 300px;
  margin: 0 auto;
  padding: 2em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.todo-list {
  padding: 0;
}

.todo-item {
  list-style: none;
  margin-bottom: 5px;
  display: block;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
}

.container-completed {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.todo-form {
  justify-content: space-between;
}

.todo-form > div:last-child {
  margin-right: 0;
}

.todo-form-input {
  flex: 1!important;
}

.todo-form-actions {
  display: flex;
  justify-content: space-between;
}

.todo-form-action {
  width: fit-content;
}

.actions-container {
  display: flex;
  justify-content: space-between;
}

.todo-item-content {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

.remove-btn {
  margin-right: 1em;
  width: 6vh;
  height: 6vh;
}

.time-of-creation {
  font-style: italic;
  font-weight: 400;
  float: right;
  margin-top: 1em;
  opacity: 0.5;
}
